<html>
    <head>
        <title>Test | HTML</title>
    </head>
    <body>
        <h1>View page from test.html</h1>
        <h2>Good Morning  <%= name%></h2>
        <h3>Villain: <%= obj.villian%></h3>
    </body>
</html>