<html>
<head>
	<title>Create | Page</title>
</head>
<body>
	<form method="post">
	<center>
		<table>
			<tr>
				<td>Company Name</td>
				<td><input type="text" name="cname" /></td>
			</tr>
			 <tr>
                    <td>Job Title</td>
                    <td>
                        <input type="text" name="jt" />
                    </td>
                </tr>
			
			<tr>
                    <td>Job Location</td>
                    <td>
                        <input type="text" name="jl"  />
                    </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td>
                        <input type="text" name="sal"  />
                    </td>
                </tr>
                <tr>
				<td></td>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
		</center>
	</form>
</body>
</html>