<html>
<head>
	<title>Edit | Page</title>
</head>
<body>
	<form method="post">
		<input type="hidden" name="id" value="<%=id%>">
		<table>
			<tr>
				<td>User Name</td>
				<td><input type="text" name="username" value="<%=username%>"/></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" value="<%=password%>"/></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Save" /></td>
			</tr>
		</table>
	</form>
</body>
</html>